<div *ngIf="form; else loadingBlock">
    <form (ngSubmit)="submit()" [formGroup]="form">
        <div 
            class="form-control"
            [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}"
        >
            <label for="title">Post title</label>
            <input type="text" id="title" formControlName="title">
            <div
                *ngIf="form.get('title')?.touched && form.get('title')?.invalid"
                class="validation"
            >
                <small *ngIf="form.get('title')?.errors?.required">Title is required</small>
            </div>
        </div>
        <div 
            class="form-control"
            [ngClass]="{invalid: form.get('text')?.touched && form.get('text')?.invalid}"
        >
            <label for="text">Post content</label>
            <quill-editor formControlName="text"></quill-editor>
            <div
                *ngIf="form.get('text')?.touched && form.get('text')?.invalid"
                class="validation"
            >
                <small *ngIf="form.get('text')?.errors?.required">Text is required</small>
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-block btn-dark"
            [disabled]="form.invalid || submited"
        >Update post</button>
    </form>
</div>
<ng-template #loadingBlock>
    <p class="text-center">Loading...</p>
</ng-template>